body {
  margin: 0;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-row {
  display: flex;
  gap: 20px;
}

.logo-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 8px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.5);
  transform-origin: top left;
  object-position: center;
  transition: transform 0.2s ease;
  display: block;
}

/*
.logo-container img:hover {
  transform: scale(1.1);
} */
